.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
/*    max-width: calc(250px - 100vw);
    width: calc(250px - 100vw);*/
}

.sidebar {
    background-image: linear-gradient(180deg, #FF3200 0%, #282d3d 50%, #1C1C1C 100%);
    box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.2);
    border-right: 2px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); 
    position: relative;
    border: 0px solid transparent;
    background-clip: padding-box;
}
    .sidebar::before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        border: 0px solid transparent;
        background: linear-gradient(90deg, #FF3200, #282d3d, #1C1C1C);
        background-size: 200% 200%;
        animation: gradient-border 5s ease-in-out infinite;
        z-index: -1;
    }

.top-row {
    background-color: var(--bs-body-bg);
    border-bottom: 1px solid var(--bs-border-color);
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
@keyframes gradient-border {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
